@import url(vars.css);

html {
    background-color: var(--bkg-color);
    color: var(--txt-color);
    font-family: MS Gothic, monospace;
}

main {
    text-align: center;
    width: 50%;
    margin: auto;
}

a {
    color: white;
}

h4 {
    color: red;
}

hr {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

br {
   display: block;
   margin: 10px 0;
}

b {
    font-size: 1.7rem;
}